<!DOCTYPE html>
<html>
<head>
	<title>voter Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	
	<div class="container">
		
		<h1><%= message%></h1>
		<a id="logout" href="/logout">Logout</a>
	</div>
</body>
</html>

<style>
body {
	background-color: green;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	text-align: center;
}

h1 {
	font-size: 3rem;
	margin: 0;
}
</style>